---
- name: Build rdiff-backup on a prepared Windows
  hosts: all
  gather_facts: false
  tasks:
    - name: make sure working directory {{ working_dir }} exists
      win_file:
        state: directory
        path: "{{ working_dir }}"
    - name: clone the sources from Git
      win_command: >
        git.exe clone
        {% if rdiff_version_tag is defined %}--branch {{ rdiff_version_tag }}{% endif %}
        https://github.com/rdiff-backup/rdiff-backup.git
        "{{ rdiffbackup_dir }}"
      args:
        creates: "{{ rdiffbackup_dir }}"
    - name: build rdiff-backup
      win_command: >
        python.exe setup.py build --librsync-dir="{{ librsync_install_dir }}"
        --lflags="/NODEFAULTLIB:libcmt.lib msvcrt.lib"
      args:
        chdir: "{{ rdiffbackup_dir }}"

# py2exe doesn't currently work with Python 3.7
#    - name: compile rdiff-backup into an executable using py2exe
#      win_command: python.exe setup.py py2exe --single-file
#      args:
#        chdir: "{{ rdiffbackup_dir }}"

    - name: compile rdiff-backup into an executable using pyinstaller
      win_command: >
        pyinstaller --onefile
        --paths=build/lib.win-amd64-3.7 --paths={{ librsync_install_dir }}/lib
        --console build/scripts-3.7/rdiff-backup
      environment:
        LIBRSYNC_DIR: "{{ librsync_install_dir }}"
      args:
        chdir: "{{ rdiffbackup_dir }}"
    - name: copy rsync.dll to build directory to call rdiff-backup from there
      win_copy:
        src: "{{ librsync_install_dir }}/lib/rsync.dll"
        remote_src: true  # file is already on the Windows machine
        dest: "{{ rdiffbackup_dir }}/build/"
