rdiff
*.o
CMakeCache.txt
config.h
*.cbp
librsync-config.h
librsync.so*
Makefile
CMakeFiles
*.lo
cmake_install.cmake
*.la
prototab.c
prototab.h
doc/Doxyfile
tests/isprefix.driver
html
latex
Testing
*.user
.sw?
.*.sw?
