.deps
.*.swp
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Doxyfile
doc/Makefile
doc/Makefile.in
install-sh
*.o
librsync-config.h
libtool
ltmain.sh
missing
popt/Makefile
popt/Makefile.in
popt/libpopt.a
prototab.c
prototab.h
stamp-h1
*.Po
testsuite/mutate.tmp
testsuite/isprefix.driver
rdiff
*.lo
.libs
librsync.la
librsync-[0-9]*tar.gz
librsync-[0-9]*/
/m4/
