rdiff
*.o
CMakeCache.txt
CTestTestfile.cmake
config.h
*.cbp
librsync-config.h
librsync.so*
librsync.a
librsync*.dylib
Makefile
CMakeFiles
*.lo
.libs
librsync.la
librsync-[0-9]*tar.gz
librsync-[0-9]*/
/m4/
tags
*.dylib
cmake_install.cmake
*.la
doc/Doxyfile
tests/isprefix.driver
html
latex
Testing
*.user

# Editor temp files
.sw?
.*.sw?
*~

# OSX build outputs
*.dSYM

# Test binaries
*_test

*.bak

*.tmp

# for rtags
compile_commands.json

# Cache sometimes leftover by Doxygen,
# similar to https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=758975
doxygen_sqlite3.db

# Coverage reports
*.gcov

# Optional build using http://build-ninja.org
.ninja_deps
.ninja_log
build.ninja
rules.ninja
