language: python

install: pip3 install --upgrade pip tox pyxattr pylibacl setuptools-scm

matrix:
  include:
#   - os: linux
#     dist: bionic
#     python: 3.5 # TODO also indicate 3.6, 3.7, 3.8
   - os: windows
     language: sh
     before_install:
       - git clone https://github.com/pyenv-win/pyenv-win.git $HOME/.pyenv
       - export PATH="$HOME/.pyenv/pyenv-win/bin:$HOME/.pyenv/pyenv-win/shims:$PATH"
       - pyenv install -q 3.5
       - pyenv rehash
       - pyenv local 3.5
       - python --version
     install: pip install --upgrade pip tox pyxattr pylibacl setuptools-scm


# Don't run tests on WIP branches
branches:
  except:
    - /^WIP-.*$/

addons:
  apt:
    packages:
      - librsync-dev
      - libacl1-dev
      - rdiff  # needed by tests in tox.ini


# We utilize Docker images, thus must have a Docker service
#services:
#  - docker

# Build Docker image for development and testing
#before_script:
#  - make container

# Each env becomes a separate job. Add more Python versions to have a matrix.
env:
  - MAKE_STEP=test-static RUN_COMMAND= SUDO=sudo
  - MAKE_STEP=build RUN_COMMAND= SUDO=sudo
  - MAKE_STEP=test-runtime-base RUN_COMMAND= SUDO=sudo
  - MAKE_STEP=test-runtime-root RUN_COMMAND= SUDO=root  # see below
  - MAKE_STEP=test-runtime-slow RUN_COMMAND= SUDO=sudo

script:
  # We need the following line because travis runs already in a virtualenv
  # and tox as well, so that we need to use tricks to run as root
  # Especially the env is set _before_ the virtualenv is joined so that
  # the next line doesn't work in the "env" section
  - if [[ $SUDO == root ]]; then export SUDO="sudo -E env PATH=$PATH"; fi
  - make $MAKE_STEP

# Travis-CI cannot cache the plain testfiles due to permission errors, thus we
# have the .tar.gz stored in the cache dir to avoid too many re-downloads.
cache:
  directories:
    - $HOME/build/rdiff-backup/cache
# Runs in path /home/travis/build/rdiff-backup/rdiff-backup (git repo work directory)
# One level up is an empty directory that can be used for artifacts, cache etc.
