language: python

os: linux
dist: bionic

install: pip3 install --upgrade pip tox pyxattr pylibacl setuptools-scm

python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8

deploy:
  provider: releases
  file_glob: true
  file: dist/*
  skip_cleanup: true
  draft: true
  on:
    all_branches: true

matrix:
  exclude:
   - os: linux
  include:
   - os: windows
     language: sh
     before_install:
       - git clone https://github.com/pyenv-win/pyenv-win.git $HOME/.pyenv
       - export PATH="$HOME/.pyenv/pyenv-win/bin:$HOME/.pyenv/pyenv-win/shims:$PATH"
       - export pyver=3.7.5
       - pyenv install --list
       - pyenv install -q $pyver || pyenv rehash
       - pyenv global $pyver
       - pyenv rehash
       - pyenv local $pyver
       - python --version
     install:
       - pip install --upgrade tox pywin32 setuptools-scm PyInstaller
       - pyenv rehash
       - git clone -b v2.2.1 https://github.com/librsync/librsync.git $HOME/.librsync
       - export LIBRSYNC_DIR=$HOME/librsync
       - pushd $HOME/.librsync
       - cmake -DCMAKE_INSTALL_PREFIX=$LIBRSYNC_DIR -A Win32 -DBUILD_SHARED_LIBS=OFF .
       - cmake --build . --config Release
       - cmake --install . --config Release
       - popd
     script:
       - python setup.py bdist
       - PyInstaller --onefile --distpath dist/win32 --paths=build/lib.win32-* --add-data=src/rdiff_backup.egg-info/PKG-INFO\;rdiff_backup.egg-info --console build/scripts-*/rdiff-backup
     deploy:
       provider: releases
       file_glob: true
       file: dist/win32/*
       skip_cleanup: true
       draft: true
       on:
          all_branches: true

# Don't run tests on WIP branches
branches:
  except:
    - /^WIP-.*$/

addons:
  apt:
    packages:
      - librsync-dev
      - libacl1-dev
      - rdiff  # needed by tests in tox.ini


# We utilize Docker images, thus must have a Docker service
#services:
#  - docker

# Build Docker image for development and testing
#before_script:
#  - make container

# Each env becomes a separate job. Add more Python versions to have a matrix.
env:
  - MAKE_STEP=test-static RUN_COMMAND= SUDO=sudo
  - MAKE_STEP=build RUN_COMMAND= SUDO=sudo
  - MAKE_STEP=test-runtime-base RUN_COMMAND= SUDO=sudo
  - MAKE_STEP=test-runtime-root RUN_COMMAND= SUDO=root  # see below
  - MAKE_STEP=test-runtime-slow RUN_COMMAND= SUDO=sudo

script:
  # We need the following line because travis runs already in a virtualenv
  # and tox as well, so that we need to use tricks to run as root
  # Especially the env is set _before_ the virtualenv is joined so that
  # the next line doesn't work in the "env" section
  - if [[ $SUDO == root ]]; then export SUDO="sudo -E env PATH=$PATH"; fi
  - make $MAKE_STEP

# Travis-CI cannot cache the plain testfiles due to permission errors, thus we
# have the .tar.gz stored in the cache dir to avoid too many re-downloads.
cache:
  directories:
    - $HOME/build/rdiff-backup/cache
# Runs in path /home/travis/build/rdiff-backup/rdiff-backup (git repo work directory)
# One level up is an empty directory that can be used for artifacts, cache etc.
