[main]
gpgcheck={% if rhbase_repo_gpgcheck %}1{% else %}0{% endif %}

installonly_limit={{ rhbase_repo_installonly_limit }}
clean_requirements_on_remove={% if rhbase_repo_remove_dependencies %}1{% else %}0{% endif %}

{% if rhbase_repo_exclude_from_update|length != 0 %}
exclude={% for item in rhbase_repo_exclude_from_update %}{{ item }} {%endfor %}
{% endif %}

## vim: ft=dosini
