#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

CFLAGS = -Wall -g

build: build-stamp

build-stamp: patch
	dh_testdir

	# Add here commands to compile the package.
	python2.3 setup.py build

	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	python2.3 setup.py clean
	rm -rf build

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/rdiff-backup.
	python2.3 setup.py install --prefix $(CURDIR)/debian/rdiff-backup/usr
	install -m 644 $(CURDIR)/rdiff-backup.1 $(CURDIR)/debian/rdiff-backup/usr/share/man/man1
	-rm -rf $(CURDIR)/debian/rdiff-backup/usr/share/doc/rdiff-backup-*


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGELOG
	dh_installdocs
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_python
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
