#!/usr/bin/make -f

INSTALL_DIR:=$(CURDIR)/debian/rdiff-backup-1-compat

%:
	dh $@ --buildsystem=pybuild --with python2 --fail-missing

override_dh_install:
	find $(INSTALL_DIR) -ls
	# Rename command name
	mv -v $(INSTALL_DIR)/usr/bin/rdiff-backup $(INSTALL_DIR)/usr/bin/rdiff-backup-1
	# Removing everything we don't need
	rm -rv $(INSTALL_DIR)/usr/bin/rdiff-backup-statistics
	rm -rv $(INSTALL_DIR)/usr/share
