name: Test-Windows

on:
  push:
    branches: ['*_']
    tags:
    - '*_'  # ending underscore for trying things
    - 'v[0-9]+.[0-9]+.[0-9]+'  # final version
    - 'v[0-9]+.[0-9]+.[0-9]+[abrc]+[0-9]+'  # alpha, beta, release candidate (rc)
    - 'v[0-9]+.[0-9]+.[0-9]+.dev[0-9]+'  # development versions
  pull_request:
  #  paths-ignore: ['docs/**']  # we can't use it and enforce some checks

# necessary for Windows
defaults:
  run:
    shell: bash

env:
  WIN_PYTHON_VERSION: 3.12.0
  WIN_LIBRSYNC_VERSION: v2.3.4

jobs:
  test-tox-win:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x86, x64]
    steps:
    - name: skip on pull requests purely for documentation
      run: echo SKIP=${{ github.event_name == 'pull_request' && startsWith(github.event.pull_request.title, '[DOC] ') }} >> "$GITHUB_ENV"
    - uses: actions/checkout@v4
      if: ${{ env.SKIP != 'true' }}
      with:
        fetch-depth: 0  # to have the correct version
    - name: Set up Python ${{ env.WIN_PYTHON_VERSION }}
      if: ${{ env.SKIP != 'true' }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.WIN_PYTHON_VERSION }}
        architecture: ${{ matrix.arch }}
    - name: Install dependencies
      if: ${{ env.SKIP != 'true' }}
      run: tools/win_provision.sh asciidoc
    - name: Build librsync
      if: ${{ env.SKIP != 'true' }}
      run: tools/win_build_librsync.sh ${{ matrix.arch }} ${WIN_LIBRSYNC_VERSION}
    - name: Test rdiff-backup
      if: ${{ env.SKIP != 'true' }}
      run: tools/win_test_rdiffbackup.sh ${{ matrix.arch }} ${WIN_PYTHON_VERSION}
